* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 22px;
  display: flex;
  flex-direction: column;
}

.add-subdir-btn {
  font-size: 22px;
  width: 100px;
  margin-bottom: 10px;
  margin-left: 50%;
}

.site-ip-form,
.subdirectory-configuration {
  font-size: 22px;
  margin-bottom: 1%;
  /* position: absolute; */
  left: 50%;
  /* transform: translateX(-50%); */
  display: flex;
  flex-direction: row;
}

.site-ip,
.subdirectory {
  margin-left: 10px;
  font-size: 22px;
}

.connect-btn {
  font-size: 22px;
  width: 100px;
  margin-left: 50%;
}

/* The attack-option-container */
.attack-option-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-right: 100%;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.attack-option-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(202, 201, 201);
}

/* On mouse-over, add a grey background color */
.attack-option-container:hover input ~ .checkmark {
  background-color: rgb(141, 141, 141);
}

/* When the checkbox is checked, add a blue background */
.attack-option-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.attack-option-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.attack-option-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
